<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="영암" />
    <meta property="og:description" content="좋은 마을" />
    <meta property="og:image" content="https://cdn.pixabay.com/photo/2017/10/09/04/27/korea-2832422_1280.jpg" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f46bff0b35df8d0936aed17e461f9021"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>초미니홈피 - 팬명록</title>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Serif KR', serif;
        }
        .mapCss{
             width: 95%;
            max-width: 600px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }
        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2017/10/09/04/27/korea-2832422_1280.jpg');
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mypost {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .mypost > button {
            margin-top: 15px;
        }

        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
        }

        .mycards > .card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

</head>

<body>
<div class="mypic">
    <h1>영암 집짓기</h1>
    <p>현재기온: <span id="temp">36</span>도</p>
</div>
<div id="map" class ="mapCss" style="width:700px;height:800px;"></div>
<p><em>지도를 클릭해주세요!</em></p>
<p id="result"></p>


<!-- <div id="my_modal"> -->
<!--     <iframe src="/register.html" id="chat_iframe">대체 내용</iframe> -->
<!--     <a class="modal_close_btn">닫기</a> -->
<!-- </div> -->
<!-- <button  id="chatBot">버튼</button> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> -->
<!--   Launch demo modal -->
<!-- </button> -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> -->
<!--   Launch demo modal -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">가족들 이름 입력해주세요</h5>

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">가족이름1</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="family1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">가족이름2</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="family2">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">가족이름3</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="family3">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">가족이름4</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="family4">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        <button type="button"  class="btn btn-primary" id="submit">입력</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">정보창</h5>

          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3" id="familydata1"></div>
        <div class="input-group mb-3" id="familydata2"></div>
        <div class="input-group mb-3" id="familydata3"></div>
        <div class="input-group mb-3" id="familydata4"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<div class="mypost">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="url">
        <label for="floatingInput">닉네임</label>
    </div>
    <div class="form-floating">
<textarea class="form-control" placeholder="Leave a comment here" id="comment"
          style="height: 100px"></textarea>
        <label for="floatingTextarea2">응원댓글</label>
    </div>
    <button onclick="save_comment()" type="button" class="btn btn-dark">응원 남기기</button>
</div>
<div class="mycards" id="comment-list">
</div>
 <script>

     $(document).ready(function () {

        show_home()




     });

        var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(34.801001337155576, 126.69658150783161),
			level: 4
		};

		var map = new kakao.maps.Map(container, options);

        mapHold()

        function mapHold(){
            setDraggable(false)
            setZoomable(false)
        }
         function setDraggable(draggable) {
            // 마우스 드래그로 지도 이동 가능여부를 설정합니다
            map.setDraggable(draggable);
        }
        function setZoomable(zoomable) {
             // 마우스 휠로 지도 확대,축소 가능여부를 설정합니다
            map.setZoomable(zoomable);
        }

     kakao.maps.event.addListener(map, 'click', function (mouseEvent) {


         $('#myModal').modal({
            backdrop: 'static',

         });




                 // 클릭한 위도, 경도 정보를 가져옵니다
         var latlng = mouseEvent.latLng;

         var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
         message += '경도는 ' + latlng.getLng() + ' 입니다';

         var resultDiv = document.getElementById('result');
         resultDiv.innerHTML = message;





         $("#myModal").on( "click", "#submit", function() {

             let family1 = $('#family1').val()
             let family2 = $('#family2').val()
             let family3 = $('#family3').val()
             let family4 = $('#family4').val()
             let lat = latlng.getLat()
             let lng = latlng.getLng()

            familyInfo = [];
            familyInfo.push(family1)
            familyInfo.push(family2)
            familyInfo.push(family3)
            familyInfo.push(family4)
            console.log(familyInfo)
            $.ajax({
                type: 'POST',
                url: '/mapMakingHome',
                data: {familyInfo_give: familyInfo,lat_give: lat, lng_give: lng},
                success: function (response) {
                    alert('데이터 입력완료!')

                }
            });
            var homePositions = [
            new kakao.maps.LatLng(latlng.getLat(), latlng.getLng()),
            new kakao.maps.LatLng(34.79520616041439, 126.69397427636467 ),
            ];
            var markerImageSrc = 'https://img.icons8.com/emoji/344/house-emoji.png';

             coffeeMarkers = []
             coffeeMarkers =createHomeMarkers(markerImageSrc,homePositions,coffeeMarkers,familyInfo)






        });



    });

    // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가하는 함수입니다
    function createHomeMarkers(markerImageSrc,homePositions,coffeeMarkers,familyInfo) {

        console.log(familyInfo)

        var imageSize = new kakao.maps.Size(22, 26),
            imageOptions = {
                spriteOrigin: new kakao.maps.Point(10, 0),
                spriteSize: new kakao.maps.Size(36, 98)
            };

        // 마커이미지와 마커를 생성합니다
        var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),
            marker = createMarker(homePositions[0], markerImage,familyInfo);
            console.log(familyInfo)
        // 생성된 마커를 커피숍 마커 배열에 추가합니다
        coffeeMarkers.push(marker);

        setCoffeeMarkers(map)

    }
    // 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
    function createMarkerImage(src, size, options) {
        var markerImage = new kakao.maps.MarkerImage(src, size, options);
        return markerImage;
    }

    // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
    function createMarker(position, image,familyInfo) {
        console.log(familyInfo)
        var marker = new kakao.maps.Marker({
            position: position,
            image: image,
            familyInfo : familyInfo
        });
         console.log(familyInfo)

    // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
    // 이벤트 리스너로는 클로저를 만들어 등록합니다
    // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다

    // 마커에 mouseout 이벤트를 등록합니다

        kakao.maps.event.addListener(marker, 'click', function() {

            $('#familydata1').append(familyInfo[0]);
           $('#familydata2').append(familyInfo[1]);
           $('#familydata3').append(familyInfo[2]);
           $('#familydata4').append(familyInfo[3]);

           $('#modalInfo').modal('show')









        });

        return marker;
    }

        function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다

    function setCoffeeMarkers(map) {
    for (var i = 0; i < coffeeMarkers.length; i++) {
        coffeeMarkers[i].setMap(map);
        }
    }



    function show_home() {
        $.ajax({
            type: "GET",
            url: "/mapMakingHome",
            data: {},
            success: function (response) {
               let rows = response['familyDb']
               for (let i = 0; i < rows.length; i++){

                    let lat = rows[i]['lat']
                    let lng = rows[i]['lng']
                    let familyInfo = rows[i]['family']
                    var homePositions = [
                    new kakao.maps.LatLng(lat, lng),
                    new kakao.maps.LatLng(34.79520616041439, 126.69397427636467 ),
                    ];
                    var markerImageSrc = 'https://img.icons8.com/emoji/344/house-emoji.png';
                    coffeeMarkers = []
                    createHomeMarkers(markerImageSrc,homePositions,coffeeMarkers,familyInfo)



//                     엄et temp_html = `<div class="card">
//                                         <div class="card-body">
//                                             <blockquote class="blockquote mb-0">
//                                                 <p>${comment}</p>
//                                                 <footer class="blockquote-footer">${name}</footer>
//                                             </blockquote>
//                                         </div>
//                                     </div>`
//                     console.log(temp_html)
//                     $(`#comment-list`).append(temp_html)
                }

            }
        });
    }






    function set_temp() {
        $.ajax({
            type: "GET",
            url: "http://spartacodingclub.shop/sparta_api/weather/seoul",
            data: {},
            success: function (response) {
                $('#temp').text(response['temp'])
            }
        })
    }

    function save_comment() {
        let name = $('#name').val()
        let comment = $('#comment').val()


        $.ajax({
            type: 'POST',
            url: '/homework',
            data: {name_give: name, comment_give: comment},
            success: function (response) {
                alert('열렸다')

            }
        });

    }

    function show_comment() {
        $.ajax({
            type: "GET",
            url: "/homework",
            data: {},
            success: function (response) {
               let rows = response['guestbookDb']
               for (let i = 0; i < rows.length; i++){
                    let comment = rows[i]['comment']
                    let name = rows[i]['name']




                    let temp_html = `<div class="card">
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p>${comment}</p>
                                                <footer class="blockquote-footer">${name}</footer>
                                            </blockquote>
                                        </div>
                                    </div>`
                    console.log(temp_html)
                    $(`#comment-list`).append(temp_html)
                }

            }
        });
    }
</script>

</body>


</html>